body{
    background-image: url(../img/pattern.jpg)
}
header{
    background-color: white; position:-webkit-sticky; position:sticky; top:0;
}
ul{
    list-style: none;
}
li{
    display: inline;
    margin: 5px;
}
#topnav{
    background-color: white;
    overflow: hidden;
}
#topnav{
    float: right;
    text-align: right;
    color: purple;
    text-decoration: none;
    font-size: 15px;
}
section{
    background-color: white;
    margin: 40px 170px 30px;
    padding: 18px;
}
#article-list{
    margin: auto;
    width: 95%;
    padding: 18px;
}
p{
    font: size 10px;color: black;
}
section{
    background-color: white;
    margin:40px 250px 20px;
    padding: 20px;
}
hr{
    size: 10;
}
footer{
    background-color: black;
    text-align: center;
    padding: 2px;
    font-size: 15px;
    color: white;
}

article{
    border-bottom: 2px solid black;

}

a{
  text-decoration: none;
}

h1{
    text-align: center
}
